template Host "host-{{ inventory_hostname }}" {
    import "{{ icinga2_template_base }}"

{% if ansible_port is defined %}
    vars.ssh_port = {{ ansible_port }}
{% endif %}

{% for check in icinga2_template_tcp_ports %}
    vars.tcp["{{ check.name }}"] = {
        tcp_port = "{{ check.tcp_port }}"
    }
{% endfor %}

{% for check in icinga2_template_nrpe_checks %}
    vars.nrpe["{{ check.name }}"] = {
        nrpe_command = "{{ check.nrpe_command }}"
    }
{% endfor %}

{% for check in icinga2_template_http_vhosts %}
    vars.http_vhosts["{{ check.name }}"] = {
{% if check.http_port is defined %}
        http_port = "{{ check.http_port }}"
{% endif %}
{% if check.http_uri is defined %}
        http_uri = "{{ check.http_uri }}"
{% endif %}
    }
{% endfor %}

}

object Host "{{ inventory_hostname }}" {
  import "host-{{ inventory_hostname }}"
  address = "{{ ansible_host }}"
}
